[submodule "christosm.dev"]
	path = christosm.dev
	url = https://github.com/ChristosDev75/christosm.dev
[submodule "c4-literate-python"]
	path = c4-literate-python
	url = https://github.com/ChristosDev75/c4-literate-python.git
